; Credentials from https://apps.twitter.com/app/XXXXXX/keys
{:consumer-key "Consumer Key (API Key)"
 :consumer-secret "Consumer Secret (API Secret)"
 :user-access-token "Access Token"
 :user-access-token-secret "Access Token Secret"}